{% extends "layout.html" %}

{% block body %}

<div class="container">
    <br/>

    <h4>All Your Tenants</h4>
    <h6 class="text-muted">Total Number?</h6>

    <br/>
    {% for user in users %}
    <a href="{{url_for('pay',userId=user.id )}}">
        <div class="card row" style=" display: flex; justify-content: space-between; padding: 20px; flex-direction: row;">
            <div style="width:fit-content; ">
                <h6 style="width: fit-content;">{{user.id}} . {{user.username}} - Ghc{{user.paid}} </h6>
                <h6 style="color: red;">GHC{{user.balance}}</h6>
            </div>

            <div style="width:fit-content; display: flex; align-items: center; ">
                {% if user.status == '1' %}
                <div class="statusEllipse-success"></div>
                {% elif user.status == '2' or user.status == '3' %}
                <div class="statusEllipse-failed"></div>
                {% elif user.status == '4' %}
                <div class="statusEllipse-pending"></div>
                {% endif %}
            </div>
        </div>
    </a>
    {% endfor %}

</div>

{% endblock %}