{% extends "layout.html" %}

{% block body %}


<div class="container">
    <div class="row" style="justify-content: space-around; margin-top: 5vh;">
        <div class="col-md-6">
            <div class="defaultCard">
                <form action="" method="post">
                    {{form.hidden_tag()}}

                    <div class="ellipse" style="border: none; border-radius: 50%; overflow: hidden; margin: auto; background-color: rgb(48, 44, 255); border-radius:rgb(48, 44, 255);">
                        <img src="#" style="width:100%; object-fit: cover;" alt="" srcset="">
                    </div>

                    <h1 class="heading" style="text-align: center; margin-top: 5vh;">{{listing.name}}</h1>
                    <h6 style="text-align: center; width: 100%; ">You can broadcast a message to the your contacts.</h6>   
                    
                    <div class="inputTextHolder">
                        <h6>{{form.group.label}}</h6>
                        {{form.group (class="inputTextCard", placeholder="Enter your message.")}}
                        {% for error in form.group.errors %}
                        <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                        {% endfor %}
                    </div>
                    
                    <div class="inputTextHolder">
                        <h6>{{form.message.label}}</h6>
                        {{form.message (class="inputTextCard", placeholder="Enter your message.")}}
                        {% for error in form.message.errors %}
                        <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                        {% endfor %}
                    </div>

                </br>
                    {{form.submit (class="pill-button", style="width:100%", onclick="showLoadingScreen()")}}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}