{% extends "layout.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block body %}
<div class="container">
<div class="info-block" style="margin-top: 5vh;">
    <div class="flexBar">
        <div>
            <h4>Dashboard</h4>
            <h6 class="text-muted">{{listing.name}}</h6>
        </div>

        {% if vacant %}
        
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">Vacant</label>
          </div>

        {% else %}

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
            <label class="form-check-label" for="flexSwitchCheckChecked">At Capacity</label>
          </div>
        {% endif %}

 
    </div>
<br>
<div class="row">
    <div class="col-md-3 col-6">
        <a href="https://prestoghana.com/dashboard">
            <div data-aos="fade-up" class="card">
                <h6>Amount Recieved </h6>
                <h2 style="font-weight: 700;">GHS{{amountRecieved}}</h2>
                <h6 class="text-muted">{{successfulTransactions}} Successful Transaction </h6>
            </div>
        </a>
    </div> 
    
    <div class="col-md-3 col-6">
        <a href="{{url_for('getallusers')}}">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>All Tenants </h6>
                <h2 style="font-weight: 700;">{{contacts}}</h2>
                <h6><u>Total Active Tenants</u></h6>
            </div>
        </a>    
    </div>
    
    <div class="col-md-3 col-6">
        <a href="{{url_for('mysublistings')}}">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>Room Data</h6>
                <h2 style="font-weight: 700;">{{data.rooms}} rooms</h2>
                <h6 ><u>{{data.roomsOccupied}} Fully Occupied</u></h6>
            </div>
        </a>
    </div>   
    
    
    
    <div class="col-md-3 col-6">
        <a href="{{url_for('alltransactions')}}">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>Transactions</h6>
                <h2 style="font-weight: 700;">{{transactions}}</h2>
                <h6><u>View all</u></h6>
            </div>
        </a>
    </div>
    
    <!-- <div class="col-md-3 col-6">
        <a href="{{url_for('alltransactions')}}">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>Occupancy Rate</h6>
                <h2 style="font-weight: 700;">70%</h2>
                <h6 class="text-muted">7005/1000 to capacity</h6>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-6">
        <a href="{{url_for('alltransactions')}}">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>Debtors</h6>
                <h2 style="font-weight: 700;">{{data.debtors}}</h2>
                <h6><u>View all</u></h6>
            </div>
        </a>
    </div>
    
    <div class="col-md-3 col-6">
        <a href="{{url_for('alltransactions')}}">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>Paid In Full</h6>
                <h2 style="font-weight: 700;">{{transactions}}</h2>
                <h6><u>View all</u></h6>
            </div>
        </a>
    </div>
    
    <div class="col-md-3 col-6">
        <a href="{{url_for('alltransactions')}}">
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>More Than Minimum</h6>
                <h2 style="font-weight: 700;">{{transactions}}</h2>
                <h6><u>View all</u></h6>
            </div>
        </a>
    </div> -->
   

</div>
</div>

<div class="info-block">
    <h4>Analytics</h4>
    <br>
    <div data-aos="fade-up"  data-aos-delay="300"  class="card" style="padding: 10;">

    <canvas id="myChart" style="width:100%;"></canvas>

    </div>
    </div>

<div>
    <h4>Quick Actions</h4>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div data-aos="fade-up"  data-aos-delay="400"  class="card">
                <h6>Broadcast message</h6>
                <!-- <h1 style="font-weight: 700;">Withdraw</h1> -->
                <h6>
                    <a href="{{url_for('broadcast')}}">
                        <button class="pill-button">Create Message</button>
                    </a>

            </h6>


            </div>
        </div>
    
        <div class="col-md-3">
            <div data-aos="fade-up"  data-aos-delay="500"  class="card">
                <h6>Manage Your Data</h6>
                <h6>
                    <a href="#">
                        <button class="pill-button" onclick="showModal()">Upload/Download Data</button>
                    </a>
                </h6>
            </div>
        </div>
    
<!-- 
        <div class="col-md-3">
            <div data-aos="fade-up"  data-aos-delay="600"  class="card">
                <h6> Pending</h6>
                <h6>
                    <a href="#">
                        <button class="pill-button"></button>
                    </a>

                </h6>
            </div>
        </div> -->

        <div class="col-md-3">
            <div data-aos="fade-up"  data-aos-delay="600"  class="card">
                <h6>Log out of your account</h6>
                <h6>
                    <a href="{{url_for('logout')}}">
                        <button class="pill-button" style="background-color: red;">Logout!</button>
                    </a>
                </h6>
            </div>
        </div>
    </div>
    </div>

    <!-- <div id="dataObject">{{dataArray}}</div> -->
</div>



<script>
    var xValues = {{data.dates|safe}}
    var yValues = {{data.amount|safe}}
    var maxValue = {{data.maxAmount|safe}}
    var minValue = {{data.minAmount|safe}}
    
    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "blue",
          borderWidth:7,
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        responsive:true,
        scales: {
          yAxes: [{ticks: {min:0, max: maxValue }}],
        },
      }
    });
    </script>


<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawCurveTypes);

function drawCurveTypes() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'X');
    data.addColumn('number', 'Web');
    data.addColumn('number', 'Ussd');

    dataArray = 

    data.addRows([
      [0, 0, 0],    [1, 10, 5],   [2, 23, 15],  [3, 17, 9],   [4, 18, 10],  [5, 9, 5],
      [6, 11, 3],   [7, 27, 19]
    ]);

    var options = {
      hAxis: {
        title: 'Days'
      },
      vAxis: {
        title: 'Amount'
      },
      series: {
        1: {curveType: 'function'}
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script> -->



{% endblock %}
