{% extends "layout.html" %}

{% block head %}

{% endblock %}
{% block body %}

<div class="container">
    <div class="row" style="justify-content: space-around; margin-top: 5vh;">
        <div class="col-md-6">
            <div class="defaultCard">
                <div class="ellipse" style="border: none; border-radius: 50%; overflow: hidden; margin: auto; background-color: rgb(48, 44, 255); border-radius:rgb(48, 44, 255);">
                <img src="{{url_for('static', filename='img/memoji.png')}}" style="width: 100%;" alt="" srcset="">
                 <!-- <link rel="stylesheet" href="{{url_for("static", filename="css/style.css")}}"> -->
                </div>

                <!-- <h1 class="heading" style="text-align: center; margin-top: 5vh;">Successful Withdrawal Request</h1> -->
                <h1 class="heading" style="text-align: center; margin-top: 5vh;">{{title}}</h1>
                <!-- <h6 style="text-align: center; width: 100%; ">Your withdrawal request has been submitted successfully. You should be creditted withing 24 hours. If there are any complications, you can reach support from the dashboard. </h6>    -->
                <h6 style="text-align: center; width: 100%; ">{{description}} </h6>   
                <!-- <h6 style="text-align: center; width: 100%; ">Please confirm that this financial information is up to date.</h6>    -->
                

                <a href="{{url_for('landingPage')}}">
                    <button style="width: 100%; margin-top:5vh;" class="pill-button">Back To Home</button>
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock %}