<!DOCTYPE html>
<html>
<head>
    <title>Draggable Marker</title>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}"></script> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/presto.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css"> 


    <style>
        #map {
            height: 100vh;
            width: 100vw;
        }
        body{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body style="font-family: 'Plus Jakarta Display', sans-serif;">
    <div id="map"></div>

   

    <div style="display: flex; justify-content: space-between; align-items: center; position: fixed; bottom: 0; background-color: white; width: 100%; left: 50%; transform: translateX(-50%); ">
        <div style="padding: 30px; width: 100%;">
           
            <!-- <p style="margin-bottom: 0;">Location Name:</p> -->
            <h4 id="placename" style="margin-top: 0;" >{{ipData.city}}</h4>
            <p>Lng: <span id="longitude">{{ipData.lng}}</span> ||  Lat: <span id="latitude">{{ipData.lat}}</span></p> 

            <button class="pill-button" style="width: 100%; font-family: 'Plus Jakarta Display', sans-serif;">This is me!</button>

        </div>
        
        <!-- <div>
            <button class="pill-button" style="font-family: 'Plus Jakarta Display', sans-serif;">This is me!</button>
        </div> -->

    </div>

    <!-- <p>Latitude: <span id="latitude">0</span></p>
    <p>Longitude: <span id="longitude">0</span></p>
    <p>Place Name: <span id="placename">{{ipData.city}}</span></p>
 -->

 <script>
    let map;
    let marker;
    let geocoder;

    function initMap() {
        console.log('flop')
        if("geolocation" in navigator){
            console.log('Map Initiated')
            navigator.geolocation.getCurrentPosition(function (position) {

            console.log('Inside getCurrentPosition function')
            
            // Get the user's current latitude and longitude
            var userLat = position.coords.latitude;
            var userLng = position.coords.longitude;

            const initialLocation = { lat: userLat, lng: userLng};
            console.log(initialLocation)

            map = new google.maps.Map(document.getElementById('map'), {
            center: initialLocation,
            zoom: 18
            });

        marker = new google.maps.Marker({
            position: initialLocation,
            map: map,
            draggable: true
            });


        geocoder = new google.maps.Geocoder();

        // Add a listener to update the marker position when it is dragged
        google.maps.event.addListener(marker, 'dragend', function() {
            
            const newPosition = marker.getPosition();
            document.getElementById('latitude').textContent = newPosition.lat();
            document.getElementById('longitude').textContent = newPosition.lng();
            
            // Perform reverse geocoding to get the place name
            geocoder.geocode({ 'location': newPosition }, function(results, status) {
                if (status === 'OK') {
                    if (results[0]) {
                        document.getElementById('placename').textContent = results[0].formatted_address;
                    } else {
                        document.getElementById('placename').textContent = 'Place not found';
                    }
                } else {
                    document.getElementById('placename').textContent = 'Geocoding failed: ' + status;
                }
            });
        
        });
           
        });

        } else {
            console.log('Geolocation is not supported by your browser.')
            alert('Geolocation is not supported by your browser.');
        }

    }
</script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}&callback=initMap"></script>
</body>
</html>
