{% extends "layout.html" %}

{% block head %}

{% endblock %}
{% block body %}

<div class="container">
    <div class="row" style="justify-content: space-around; margin-top: 5vh;">
        <div class="col-md-6">
            <div class="defaultCard">
                <form action="" method="post">
                    {{form.hidden_tag()}}
                <div class="ellipse" style="border: none; border-radius: 50%; overflow: hidden; margin: auto; background-color: rgb(48, 44, 255); border-radius:rgb(48, 44, 255);">
                <img src="{{url_for('static', filename='img/memoji.png')}}" style="width: 100%;" alt="" srcset="">
                 <!-- <link rel="stylesheet" href="{{url_for("static", filename="css/style.css")}}"> -->
                </div>

                <h1 class="heading" style="text-align: center; margin-top: 5vh;">Add a new sub listing</h1>
                <h6 style="text-align: center; width: 100%; ">
                    Welcome back to the sublisting screen.
                </h6> 
                
                <div class="inputTextHolder">
                    <h6>{{form.name.label}}</h6>
                    {{form.name (class="inputTextCard", placeholder="Please enter your name number")}}
                    {% for error in form.name.errors %}
                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                </div>
                
                
                <div class="inputTextHolder">
                    <h6>{{form.price.label}}</h6>
                    {{form.price (class="inputTextCard", placeholder="Please enter your price number")}}
                    {% for error in form.price.errors %}
                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                </div>
                
                <div class="inputTextHolder">
                    <h6>{{form.description.label}}</h6>
                    {{form.description (class="inputTextCard", placeholder="Please enter your description number")}}
                    {% for error in form.description.errors %}
                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                </div>





                {{form.submit(class="pill-button", style="width: 100%; margin-top:5vh;")}}
            </div>
        </form>

        </div>
    </div>
</div>

{% endblock %}