{% extends "layout.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block body %}
<div class="container">
<div class="info-block" style="margin-top: 5vh;">

    <div class="flexBar">
        <div>
            <h4>Dashboard</h4>
            <h6 class="text-muted">{{listing.name}}</h6>
        </div>
            <a href="{{url_for('updateBalance')}}">
                <button class="pill-button">Refresh Values</button>
            </a>
    </div>
<br>



<div class="row">
    <div class="col-md-3 col-6">
        <a href="{{url_for('getallusers')}}" style="text-decoration: none; color: black;">
            <div data-aos="fade-up" class="card">
                <h6>Amount Recieved</h6>
                <h2 style="font-weight: 700;">GHS {{amountRecieved}}</h2>
                <!-- <h6 class="text-muted">View Ledger</h6> -->
            </div>
        </a>
    </div> 
    
    <div class="col-md-3 col-6">
        <a href="{{url_for('getallusers')}}" style="text-decoration: none; color: black;">
            <div data-aos="fade-up" class="card">
                <h6>Expected Revenue</h6>
                <h2 style="font-weight: 700;">GHS {{expected_revenue}}</h2>
                <!-- <h6 class="text-muted">Transactions</h6> -->
            </div>
        </a>
    </div> 

    <div class="col-md-3 col-6">
        <a href="{{url_for('getallusers')}}" style="text-decoration: none; color: black;">
            <div data-aos="fade-up" class="card">
                <h6>Cash Transactions</h6>
                <h2 style="font-weight: 700;">GHS {{cashTransactions}}</h2>
                <!-- <h6 class="text-muted">{{totalTodayTransactions}} Transaction(s)</h6> -->
            </div>
        </a>
    </div> 
        
    <div class="col-md-3 col-6">
        <a href="{{url_for('getallusers')}}" style="text-decoration: none; color: black;">
            <div data-aos="fade-up" class="card">
                <h6>Amount Due</h6>
                <h2 style="font-weight: 700;">GHS {{due}}</h2>
                <!-- <h6 class="text-muted">{{successfulTransaction}} Transactions</h6> -->
            </div>
        </a>
    </div> 
    </div>

    <div class="flexBar">
        <div>
            <h4>Sublisting Sumarry</h4>
            <h6 class="text-muted">{{listing.name}}</h6>
        </div>
            <a href="{{url_for('mysublistings') }}">
                <button class="pill-button">Edit Sublisting</button>
            </a>
    </div>
<br/>
    <div class="row">
    

        <div class="col-md-3 col-6">
    
                <a href="{{url_for('getallusers')}}" style="text-decoration: none; color: black;">
                    <div data-aos="fade-up" class="card">
                        <h6>Total SubListings</h6>
                        <h2 style="font-weight: 700;">{{sublistings}}</h2>
                    </div>
                </a>
            </div> 
    
        
       
        
        <div class="col-md-3 col-6">
            <a class="link" >
                <div data-aos="fade-up" data-aos-delay="100" class="card">
                    <h6>Fully Occupied</h6>
                    <h2 style="font-weight: 700;">{{occupied}}</h2>

                </div>
            </a>
        </div>

    </div>
    

<div class="row">

    <h4>Bed Summary</h4>
    <br/>
    <!-- <h6 class="text-muted">Home And Away</h6> -->
        
    <div class="col-md-3 col-6">
            <a href="{{url_for('getallusers')}}" style="text-decoration: none; color: black;">
                <div data-aos="fade-up" class="card">
                    <h6>Beds Taken</h6>
                    <h2 style="font-weight: 700;">{{expected_revenue}}</h2>
                    <h6 class="text-muted">{{successfulTransaction}} Transactions</h6>
                </div>
            </a>
    </div> 

    <div class="col-md-3 col-6">
        <a href="{{url_for('getallusers')}}" style="text-decoration: none; color: black;">
            <div data-aos="fade-up" class="card">
                <h6>Beds Avaiable</h6>
                <h2 style="font-weight: 700;">{{expected_revenue}}</h2>
                <h6 class="text-muted">{{successfulTransaction}} Transactions</h6>
            </div>
        </a>
</div> 

<div class="col-md-3 col-6">
    <a href="{{url_for('getallusers')}}" style="text-decoration: none; color: black;">
        <div data-aos="fade-up" class="card">
            <h6>Beds Remaining</h6>
            <h2 style="font-weight: 700;">{{expected_revenue}}</h2>
            <h6 class="text-muted">{{successfulTransaction}} Transactions</h6>
        </div>
    </a>
</div> 
</div>


<div class="row">
    <div class="flexBar">
        <div>
            <h4>Occupancy Summary</h4>
            <h6 class="text-muted">{{listing.name}}</h6>
        </div>
            <a href="{{url_for('upload', dataType='users')}}">
                <button class="pill-button">Update Values</button>
            </a>
    </div>
    <div class="col-md-3 col-6">

            <a href="{{url_for('getallusers')}}" style="text-decoration: none; color: black;">
                <div data-aos="fade-up" class="card">
                    <h6>All Users</h6>
                    <h2 style="font-weight: 700;">{{activeUsers}}</h2>
                    <!-- <h6 class="text-muted">{{successfulTransaction}} Transactions</h6> -->
                </div>

               
            </a>
        </div> 

    
    <div class="col-md-3 col-6">
        <a class="link" >
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>Occupancy Rate</h6>
                <h2 style="font-weight: 700;">Ghc{{todaysBalance}}</h2>
            </div>
        </a>
    </div>

   

    <div class="col-md-3 col-6">
        <a class="link" >
            <div data-aos="fade-up" data-aos-delay="100" class="card">
                <h6>All Transactions</h6>
                <h2 style="font-weight: 700;">{{totalTransasactions}}</h2>
                <h6><u>View all</u></h6>
            </div>
        </a>
    </div>

   

</div>





{% endblock %}
