{% extends "layout.html" %}

{% block head %}

{% endblock %}
{% block body %}

    <div class="container">
        <div class="row" style="justify-content: space-around; margin-top: 5vh;">
            <div class="col-md-6">
                <div class="defaultCard">
                    <div class="ellipse" style="border: none; border-radius: 50%; overflow: hidden; margin: auto; background-color: rgb(48, 44, 255); border-radius:rgb(48, 44, 255);">
                    <img src="{{url_for('static', filename='img/memoji.png')}}" style="width: 100%;" alt="" srcset="">
                    </div>

                    {% if user == None %}
                    <h1 class="heading" style="text-align: center; margin-top: 5vh;">Add a new tenant</h1>
                    <h6 style="text-align: center; width: 100%; " class="text-muted">{{listing.name}} </h6>   
                    
                    {% endif %}

                    <h1 class="heading" style="text-align: center; margin-top: 5vh;">{{user.username}}</h1>
                    <h6 style="text-align: center; width: 100%; " class="text-muted">Listing - {{listing.name}}</h6>   
                    {% if user.roomNumber %}
                    
                    <h6 style="text-align: center; width: 100%; " class="text-muted">RoomNumber - {{user.roomNumber}}</h6>   
                    {% else %}
                    <h6 style="text-align: center; width: 100%; color: red;">UNASSIGNED</h6>   
                    
                    {% endif %}
                    <h6 style="text-align: center; width: 100%; ">{{user.phone}} </h6>   
                    
                    <br/>

                    <hr>
                    {% if user.fullAmount > 0 %}
                        <div class="flexBar"><h6>Amount Due</h6><h6 class="text-muted">GHS {{user.fullAmount}}</h6></div>
                    {% endif %}
                    
                    <div class="flexBar"><h6>Amount Paid</h6><h6 class="text-muted">GHS {{user.paid}}</h6></div>

                    {% if user.fullAmount > 0 %}
                        <div class="flexBar"><h6>Outstanding Balance</h6><h6 class="text-muted">GHS {{user.balance}}</h6></div>
                    {% endif %}
                    <!-- <div class="flexBar"><h6>Last Payment</h6><h6 class="text-muted">{{user.lastpayment}}</h6></div> -->
                    <hr>

                    <div class="row">
                        <div class="col">
                            <a href="{{url_for('pay', userId=user.id)}}">
                                <button class="pill-button-alternate full">Make Payment</button>
                            </a>
                        </div>
                        <div class="col">
                            {% if user.roomNumber%}
                            <a href="{{url_for('unassign', userId=user.id)}}">
                                <button class="pill-button-danger full">Unassign</button>
                            </a>
                            {% else %}
                            <a href="{{url_for('sublisting', userId=user.id)}}">
                                <button class="pill-button full">Assign</button>
                            </a>

                            {% endif %}
                        </div>
                </div>

                


                    <form action="" method="post">
                        {{form.hidden_tag()}}
                        <div class="inputTextHolder">
                            <h6>{{form.username.label}}</h6>
                            {{form.username (class="inputTextCard", placeholder="Enter a full name")}}
                            {% for error in form.username.errors %}
                            <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                            {% endfor %}
                        </div>

                        <div class="inputTextHolder">
                            <h6>{{form.email.label}}</h6>
                            {{form.email (class="inputTextCard", placeholder="Enter Your Email Address")}}
                            {% for error in form.email.errors %}
                            <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                            {% endfor %}
                        </div>



                        <!-- <div class="inputTextHolder">
                            <h6>{{form.listing.label}}</h6>
                            {{form.listing  (class="inputTextCard disabled" )}}
                            {% for error in form.listing.errors %}
                            <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                            {% endfor %}
                        </div> -->


                        <!-- <div class="inputTextHolder">
                            <h6>{{form.roomNumber.label}}</h6>
                            {{form.roomNumber (class="inputTextCard", placeholder="Which room are you assigned to")}}
                            {% for error in form.roomNumber.errors %}
                            <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                            {% endfor %}
                        </div> -->


                        <div class="inputTextHolder">
                            <h6>{{form.phone.label}}</h6>
                            {{form.phone (class="inputTextCard", placeholder="How much are you sending")}}
                            {% for error in form.phone.errors %}
                            <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                            {% endfor %}
                        </div>


                    
                            <!-- <div class="row justify-content-center align-items-center g-2">
                            <div class="col">
                                <div class="inputTextHolder">
                                    <h6>{{form.paid.label}}</h6>
                                    {{form.paid (class="inputTextCard", placeholder="Paid")}}
                                    {% for error in form.phone.errors %}
                                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col">
                                <div class="inputTextHolder">
                                    <h6>{{form.balance.label}}</h6>
                                    {{form.balance (class="inputTextCard", placeholder="Balance")}}
                                    {% for error in form.phone.errors %}
                                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col">
                                <div class="inputTextHolder">
                                    <h6>{{form.fullAmount.label}}</h6>
                                    {{form.fullAmount (class="inputTextCard", placeholder="Full Amount")}}
                                    {% for error in form.phone.errors %}
                                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                                    {% endfor %}
                                </div>
                            </div>
                        </div> -->
                        {{form.submit(class="pill-button", onclick="showLoadingScreen()", style="width: 100%; margin-top:5vh;")}}
                    </form>
                    <br/>
                    <a href="{{url_for('usertransactions', userId=user.id)}}">
                        <button class="pill-button-alternate full">View All Transactions</button>
                    </a>
                  
                </div>
            </div>
        </div>
    </div>

{% endblock %}