{% extends "layout.html" %}

{% block head %}

{% endblock %}
{% block body %}

<div class="container">
    <div class="row" style="justify-content: space-around; margin-top: 5vh;">
        <div class="col-md-6">
            <div class="defaultCard">
                <form action="" method="post">
                    {{form.hidden_tag()}}
                <div class="ellipse" style="border: none; border-radius: 50%; overflow: hidden; margin: auto; background-color: rgb(48, 44, 255); border-radius:rgb(48, 44, 255);">
                <img src="{{user.logo}}" style="width: 100%;" alt="" srcset="">
                </div>

                <h1 class="heading" style="text-align: center; margin-top: 5vh;">{{user.name}}</h1>

                <h6 style="text-align: center; width: 100%; ">
                    In order to process your payment, we need to know who you are. <br/>Enter the necessary payment information to confirm your identity.
                </h6>   

                <div class="inputTextHolder">
                    <h6>{{form.organisation.label}}</h6>
                    {{form.organisation (class="inputTextCard", placeholder="Please enter your organisation number")}}
                    {% for error in form.organisation.errors %}
                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                </div>

                <div class="inputTextHolder">
                    <h6>{{form.phone.label}}</h6>
                    <!-- {{form.phone (class="inputTextCard", placeholder="0XXXXXXXXX")}} -->
                    {{form.phone (class="inputTextCard", placeholder="eg. int18010481")}}
                    {% for error in form.phone.errors %}
                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                    <!-- <h6 style="color: grey; font-weight: 100; font-size: small;">Please enter the phone or index number you have on record with us. Do not include the slashes or dots.</h6> -->
                    <h6 style="color: grey; font-weight: 100;" class="text-muted"><b>Do not include the slashes or dots when entering the index number you have on record with us.</b></h6>
                </div>
            
                {{form.submit(class="pill-button", onclick="showLoadingScreen()" ,style="width: 100%; margin-top:5vh;")}}
                
                <a href='{{url_for("issue",organisationslug="cuoldgirls")}}'>
                    <h6 style="text-align: center; margin-top: 2vh; text-decoration: underline;">
                            HELP! I cant find my account!
                        </h6>
                    </a>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}