{% extends "layout.html" %}

{% block head %}

{% endblock %}
{% block body %}

<div class="container">
    <div class="row" style="justify-content: space-around; margin-top: 5vh;">
        <div class="col-md-6">
            <div class="defaultCard">
                <form action="" method="post">
                    {{form.hidden_tag()}}
                <div class="ellipse" style="border: none; border-radius: 50%; overflow: hidden; margin: auto; background-color: rgb(48, 44, 255); border-radius:rgb(48, 44, 255);">
                    <img src="{{url_for('static', filename='img/memoji.png')}}" style="width: 100%;" alt="" srcset="">
                </div>

                <h1 class="heading" style="text-align: center; margin-top: 5vh;">{{welcomeMessage}}</h1>
                <h6 style="text-align: center; width: 100%; ">{{welcomeDescription}}</h6>   

                <div class="inputTextHolder">
                    <h6>{{form.username.label}}</h6>
                    {{form.username (class="inputTextCard", placeholder="Please enter your username number")}}
                    {% for error in form.username.errors %}
                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                </div>

                <div class="inputTextHolder">
                    <h6>{{form.email.label}}</h6>
                    {{form.email (class="inputTextCard", placeholder="Please enter your email number")}}
                    {% for error in form.email.errors %}
                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                </div>

                <div class="inputTextHolder">
                    <h6>{{form.phone.label}}</h6>
                    {{form.phone (class="inputTextCard", placeholder="Please enter your phone number")}}
                    {% for error in form.phone.errors %}
                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                </div>

                {% if organisation == None %}
                <div class="inputTextHolder">
                    <h6>{{form.organisation.label}}</h6>
                    {{form.organisation (class="inputTextCard", placeholder="Please enter your organisation number")}}
                    {% for error in form.organisation.errors %}
                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                </div>
                {% endif %}

               

                <div class="inputTextHolder">
                    <h6>{{form.password.label}}</h6>
                    {{form.password (class="inputTextCard", placeholder="Please enter your password number")}}
                    {% for error in form.password.errors %}
                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                </div>

                <div class="inputTextHolder">
                    <h6>{{form.confirm_password.label}}</h6>
                    {{form.confirm_password (class="inputTextCard", placeholder="Please enter your confirm_password number")}}
                    {% for error in form.confirm_password.errors %}
                    <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                </div>

                {{form.submit(class="pill-button", style="width: 100%; margin-top:5vh;")}}

                <a href='{{url_for("recpay")}}'>
                    <h6 style="text-align: center; margin-top: 2vh; text-decoration: underline;">
                            I already have an account, log me in!
                        </h6>
                    </a>
            </div>
        </form>

        </div>
    </div>
</div>

{% endblock %}