{% extends "layout.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block body %}
<div class="container">

    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->

  <div class="flexBar" style="align-items: center; margin: 10px auto;">
    <div>
        <h1>Hello, {{user.username}}</h1>
        <h4>Please select a sublisting.</h4>

        <h6 style="color: rgb(46, 46, 200);"> 📍{{listing.name}}</h6>
    </div>
    
    <button class="pill-button" data-bs-toggle="modal" data-bs-target="#exampleModal">🔍</button>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Room Picker</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" method="post">
                {{sublistingform.hidden_tag()}}

               

                <div class="inputTextHolder">
                    <h6>{{sublistingform.location.label}}</h6>
                    
                    {{sublistingform.location (class="inputTextCard", placeholder="Please enter your location number")}}
                    
                    {% for error in sublistingform.location.errors %}
                        <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                </div>


                <div class="inputTextHolder">
                    <h6>{{sublistingform.bedsAvailable.label}}</h6>
                    
                    {{sublistingform.bedsAvailable (class="inputTextCard", placeholder="Please enter your bedsAvailable number")}}
                    
                    {% for error in sublistingform.bedsAvailable.errors %}
                        <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                </div>

                <div class="inputTextHolder">
                    <h6>{{sublistingform.size.label}}</h6>
                    
                    {{sublistingform.size (class="inputTextCard", placeholder="Please enter your size number")}}
                    
                    {% for error in sublistingform.size.errors %}
                        <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                    {% endfor %}
                </div>
         
                <br/>
            {{sublistingform.submit (class="pill-option", style="width:100%  ")}}
        </form>
        </div>
       
        </div>
      </div>
    </div>
  <!-- </div> -->
<div class="info-block" style="margin-top: 5vh;">

<br>
<div class="row">

    {% for listing in sublistings %}
    
    <div class="col-md-3">
        <a href="#" style="text-decoration: none; color: black;">
            <div data-aos="fade-up" class="card">
                <div style="display: flex; justify-content: space-between;">
                    <h6>{{listing.name}}</h6>
                    {% if size %}
                        <h6 class="text-muted">{{listing.size}}</h6>
                    {% endif %}

                </div>
                <h2 style="font-weight: 700;">GHS {{listing.pricePerBed}}</h2>
                <h6 class="text-muted"> {{listing.bedsAvailable }} in a room - {{listing.location}}</h6>
                <div style="display: flex; align-items: center; ">
                    <div style="width: 10px; height: 10px; background-color: green; border-radius: 50%; margin-right: 10px;"></div>
                    <h6 class="text-muted" style="margin: 0;">{{listing.bedsAvailable | int - listing.bedsTaken | int}} beds available</h6>
                </div>

            </div>
        </a>
    </div> 

    {% endfor %}

    <div style="margin: auto; display: flex; justify-content: space-around; align-items: center;">
        <div>
            <button class="pill-button" data-bs-toggle="modal" data-bs-target="#exampleModal" >🔍 Search for sublisting</button>
            <h6 class="text-muted" style="text-align: center;">{{message}}</h6>
        </div>

    </div>


    
</div>

</div>


{% endblock %}
