{% extends "layout.html" %}

{% block head %}

{% endblock %}
{% block body %}

    <div class="container">
        <div class="row" style="justify-content: space-around; margin-top: 5vh;">
            <div class="col-md-6">
                <div class="defaultCard">
                    <div class="ellipse" style="border: none; border-radius: 50%; overflow: hidden; margin: auto;  background-color: rgb(48, 44, 255); border-radius:rgb(48, 44, 255);">
                    <!-- <img src="{{url_for("static", filename="img/memoji.png")}}" style="width: 100%;" alt="" srcset=""> -->
                    <img src="{{transaction.image_file}}" style="width: 100%; object-fit: cover;" alt="" srcset="">
                    <!-- <link rel="stylesheet" href="{{url_for("static", filename="css/style.css")}}"> -->
                    </div>

                    <!-- <h1 class="heading" style="text-align: center; margin-top: 5vh;">Successful Withdrawal Request</h1> -->
                    <h1 class="heading" style="text-align: center; margin-top: 5vh;">{{transaction.id}}. {{user.username}}</h1>
                    <h6 style="text-align: center; width: 100%;" class="text-muted">{{user.listing}}</h6>   
                    <!-- <h6 style="text-align: center; width: 100%; ">{{transaction.account}} </h6>    -->
                    <h6 style="text-align: center; width: 100%; ">{{description}} </h6>   

                    <br/>

                    <div class="flexBar"><h6>Paid</h6><h6 class="text-muted">{{transaction.paid}}</h6></div>
                    <div class="flexBar"><h6>From</h6><h6 class="text-muted">{{transaction.account}}</h6></div>
                    <!-- <div class="flexBar"><h6>Status</h6><h6 class="text-muted">{{transaction.status}}</h6></div> -->
                    <div class="flexBar"><h6>Date</h6><h6 class="text-muted">{{transaction.date_created.strftime("%y/%m/%d")}}</h6></div>
                    <div class="flexBar"><h6>Time</h6><h6 class="text-muted">{{transaction.date_created.strftime("%H : %M")}}</h6></div>
                    <div class="flexBar"><h6>Network</h6><h6 class="text-muted">{{transaction.network}}</h6></div>
                    <div class="flexBar"><h6>Channel</h6><h6 class="text-muted">{{transaction.channel}}</h6></div>
                    <!-- <div class="flexBar"><h6>Fees</h6><h6 class="text-muted">{{transaction.percentage}}%</h6></div> -->
                    <div class="flexBar"><h6>Total</h6><h6 class="text-muted">Ghc {{transaction.amount}}</h6></div>
                    <!-- <h6 style="text-align: center; width: 100%; ">Please confirm that this financial information is up to date.</h6>    -->
                    
                    {% if transaction.paid %}
                    <a href="{{url_for('pay', userId=user.id)}}">
                        <button style="width: 100%; margin-top:5vh;" class="pill-button">Back To Profile</button>
                    </a>
                    {% else %}
                        <a href="{{url_for('verifyTransaction', transactionid=transaction.id)}}">
                            <button style="width: 100%; margin-top:5vh;" class="pill-button">I have paid</button>
                        </a>
                    {% endif %}

                   
                </div>

            </div>
        </div>
    </div>

{% endblock %}